In [12]:
import pandas as pd

In [27]:
df = pd.read_csv('NSE.csv')

In [28]:
type(df[['SYMBOL','OPEN','HIGH','LOW','CHNG']])

pandas.core.frame.DataFrame

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   SYMBOL                      51 non-null     object
 1   OPEN                        51 non-null     object
 2   HIGH                        51 non-null     object
 3   LOW                         51 non-null     object
 4   PREV. CLOSE                 51 non-null     object
 5   LTP                         51 non-null     object
 6   CHNG                        51 non-null     float64
 7   %CHNG                       51 non-null     float64
 8   VOLUME (shares)             51 non-null     object
 9   VALUE (₹ Crores)            51 non-null     object
 10  52W H                       51 non-null     object
 11  52W L                       51 non-null     object
 12  30 D   %CHNG                51 non-null     float64
 13  365 D % CHNG
 01-Sep-2023  51 non-null     float64
dtypes: float64(4), object(10)
memory usage: 5.7+ KB

In [30]:
df.head(10)

,SYMBOL,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CHNG,%CHNG,VOLUME (shares),VALUE (₹ Crores),52W H,52W L,30 D %CHNG,365 D % CHNG \n 01-Sep-2023
0,NIFTY 50,"24,999.40","25,130.50","24,896.80","24,936.40","25,041.10",104.70,0.42,"25,12,74,802","27,846.17","25,333.65","18,837.85",2.10,29.85
1,DIVISLAB,"5,200.95","5,447.35","5,198.00","5,173.50","5,444.00",270.50,5.23,"16,28,691",872.03,"5,447.35","3,295.30",2.06,41.92
2,LTIM,"6,205.65","6,400.00","6,177.30","6,146.60","6,332.00",185.40,3.02,"9,29,755",587.97,"6,442.00","4,513.55",11.73,16.08
3,NTPC,390.1,399.4,389.75,389.85,399.15,9.30,2.39,"1,58,52,309",624.69,426.3,227.75,-0.83,80.41
4,BHARTIARTL,"1,545.15","1,586.00","1,545.15","1,542.65","1,577.10",34.45,2.23,"61,63,457",968.57,"1,608.40",883.6,6.38,83.50
5,WIPRO,516.8,528,514,514.85,525.25,10.40,2.02,"51,43,636",268.46,579.9,375.05,7.22,29.31
6,HCLTECH,"1,749.45","1,789.30","1,747.15","1,746.75","1,781.60",34.85,2.00,"23,07,528",408.88,"1,817.15","1,208.55",8.94,47.85
7,TECHM,"1,592.00","1,613.70","1,578.50","1,579.20","1,610.65",31.45,1.99,"25,41,973",406.53,"1,665.00","1,098.15",8.54,33.26
8,POWERGRID,327,335.3,327,328.55,334.75,6.20,1.89,"1,54,72,387",515.9,362.5,190.65,-5.82,33.78
9,BAJAJ-AUTO,"10,793.40","11,035.70","10,780.05","10,847.60","11,024.95",177.35,1.63,"4,66,892",509.63,"11,154.10","4,762.60",13.26,133.30

In [ ]:
df